
  <div class = "head-list-column">
    <div class = "logomark-a">
      <h2>~ E n o t i n g ~</h2>
      <!-- <img src="image/logo.png" alt="Enoting ロゴ" width="140" height="100"> -->
      <!-- ロゴ思案中 -->
    </div>

    <div class= "subcolumn-bar">
      <ul class = "dropmenu">
        <li id="note-source"><a>ノート</a>
          <ul>
            <li><%= link_to 'ノート一覧', notes_path %></li>
            <li><%= link_to 'ノート検索', notes_search_path %></li>
            <li><%= link_to '新しくノートを作成', new_note_path %></li>
          </ul>
        </li>
        <li><a>フレンド</a>
          <ul>
            <li><%= link_to 'フレンド一覧', notes_path %></li>
            <li><%= link_to 'フレンド検索', notes_path %></li>
          </ul>
        </li>
        <li><a>プロフィール</a>
          <ul>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          </ul>
        </li>
        <li><a>tips</a>
          <ul>
            <li><%= link_to 'Markdownとは？', tips_index_path %></li>
          </ul>
        </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>




	<div class = "main-column">
		<div class = "main-position">
			<%= render 'form' %>
		</div>
	</div>

 	<div id="footer">
		<p><small>
			Copyright&copy; 2015 @Daiki Ito, Yuji Koketsu All Rights Reserved.</small></p>
	</div>
	<!-- </body> -->

<!-- </html> -->

