<!-- <p id="notice"><%= notice %></p> -->


  <div class = "head-list-column">
    <div class = "logomark-a">
      <h2>~ E n o t i n g ~</h2>
      <!-- <img src="image/logo.png" alt="Enoting ロゴ" width="140" height="100"> -->
      <!-- ロゴ思案中 -->
    </div>

    <div class= "subcolumn-bar">
      <ul class = "dropmenu">
        <li id="note-source"><a>ノート</a>
          <ul>
            <li><%= link_to 'ノート一覧', notes_path %></li>
            <li><%= link_to 'ノート検索', notes_search_path %></li>
            <li><%= link_to '新しくノートを作成', new_note_path %></li>
          </ul>
        </li>
        <li><a>フレンド</a>
          <ul>
            <li><%= link_to 'フレンド一覧', friends_index_path %></li>
            <li><%= link_to 'フレンド検索', friends_search_path %></li>
          </ul>
        </li>
        <li><a>プロフィール</a>
          <ul>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          </ul>
        </li>
        <li><a>tips</a>
          <ul>
            <li><%= link_to 'Markdownとは？', tips_index_path %></li>
          </ul>
        </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>

<!-- 
  <div class = "main-column">
    <div class = "main-position">
      <div class="notelist-column">
      </div>
    </div>
  </div>
 -->

<table class="noteList">
  <thead>
    <tr>
      <th>Name</th>
      <th>Updated_at</th>
      <th>Author</th>
      <th class="button-rows"></th>
      <th class="button-rows"></th>
      <th class="button-rows"></th>
      <!-- <th class="button-rows"></th> -->
      <!-- <th colspan="3"></th> -->
    </tr>
  </thead>

  <tbody>
    <% @notes.each do |note| %>
      <tr>
        <td class="noteRows noteRows-title"><%= note.name %></td>
        <td class="noteRows noteRows-update"><%= note.updated_at %></td>
        <td class="noteRows noteRows-author"><%= note.user_id %></td>
        <td class="noteRows button-rows"><%= link_to 'Show', note, class:"notes-show-btn" %> </td>
        <td class="noteRows button-rows"><%= link_to 'Edit', edit_note_path(note) %></td>
        <td class="noteRows button-rows"><%= link_to 'Destroy', note, method: :delete, data: { confirm: '選択したノートを削除します．よろしいですか？' } %></td>
        <!-- <td class="noteRows button-rows">share</td> -->
        <!-- ここに share のボタンを追加したい． -->
      </tr>
    <% end %>
    <% @shared_notes.each do |note| %>
      <tr>
        <td class="noteRows noteRows-title"><%= note.name %></td>
        <td class="noteRows noteRows-update"><%= note.updated_at %></td>
        <td class="noteRows noteRows-author"><%= note.user_id %></td>
        <td class="noteRows button-rows"><%= link_to 'Show', note, class:"notes-show-btn" %> </td>
        <td class="noteRows button-rows"></td>
        <td class="noteRows button-rows"><%= link_to 'Destroy', note, method: :delete, data: { confirm: '選択したノートの共有を削除します．よろしいですか？' } %></td>
        <!-- <td class="noteRows button-rows">share</td> -->
        <!-- ここに share のボタンを追加したい． -->
      </tr>
    <% end %>
  </tbody>
</table>


  <div id="footer">
    <p><small>
      Copyright&copy; 2015 @Daiki Ito, Yuji Koketsu All Rights Reserved.</small></p>
  </div>
