

  <div class = "head-list-column">
    <div class = "logomark-a">
      <h2>~ E n o t i n g ~</h2>
      <!-- <img src="image/logo.png" alt="Enoting ロゴ" width="140" height="100"> -->
      <!-- ロゴ思案中 -->
    </div>

    <div class= "subcolumn-bar">
      <ul class = "dropmenu">
        <li id="note-source"><a>ノート</a>
          <ul>
            <li><%= link_to 'ノート一覧', notes_path %></li>
            <li><%= link_to 'ノート検索', notes_search_path %></li>
            <li><%= link_to '新しくノートを作成', new_note_path %></li>
          </ul>
        </li>
        <li><a>フレンド</a>
          <ul>
            <li><%= link_to 'フレンド一覧', friends_index_path %></li>
            <li><%= link_to 'フレンド検索', friends_search_path %></li>
          </ul>
        </li>
        <li><a>プロフィール</a>
          <ul>
            <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
          </ul>
        </li>
        <li><a>tips</a>
          <ul>
            <li><%= link_to 'Markdownとは？', tips_index_path %></li>
          </ul>
        </li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>


  
  <!-- <p id="notice"><%= notice %></p> -->

  <div class="note-search-form">
    <%= form_tag('/share', :method => :get) do %>
    <%= hidden_field_tag "id", @note.id %>
    <%= hidden_field_tag "note_id", @note.id %>
      <% @friends.each do |friend|%>
        <%= check_box_tag 'user_id[]',friend.id, false, id: friend.user_name%>
        <%= label_tag friend.user_name, friend.user_name %>
      <% end %>
    <p class = "friends-sentence">この「<%= @note.name%>」を共有するフレンドの名前を入力してください．</p>
  </div>

  <div class="share-submit-btn">
    <%= submit_tag "共有する", class:"share-btn", :name => nil %>
    <% end %>
  </div>
  </div>



 	<div id="footer">
		<p><small>
			Copyright&copy; 2015 @Daiki Ito, Yuji Koketsu All Rights Reserved.</small></p>
	</div>
