  <div class = "head-list-column">
    <div class = "logomark-a">
      <h2>~ E n o t i n g ~</h2>
      <!-- <img src="image/logo.png" alt="Enoting ロゴ" width="140" height="100"> -->
      <!-- ロゴ思案中 -->
    </div>

    <div class= "subcolumn-bar">
      <ul>
        <li id="note-source"><%= link_to 'ノート', notes_path %></a></li>
        <li id="noteBook-source"><a href="noteBook.html">ノートブック</a></li>
        <li><%= link_to '新しくノートを作る', new_note_path %></li>
        <li><%= link_to 'プロフィール変更', edit_user_registration_path %></li>
        <li><%= link_to 'ログアウト', destroy_user_session_path, method: :delete %></li>
      </ul>
    </div>
  </div>


<div class = "edit-profile">
  <h2>プロフィール変更 </h2>

  <!-- <%= resource_name.to_s.humanize %>  -->

  <%= form_for(resource, as: resource_name, url: registration_path(resource_name), html: { method: :put }) do |f| %>
    <%= devise_error_messages! %>

    <div class="profile-textarea">
      <%= f.label :'メールアドレス', class:"profile-label" %>
      <%= f.email_field :email, autofocus: true, class:"profile-field mail" %>
    </div>

    <% if devise_mapping.confirmable? && resource.pending_reconfirmation? %>
      <div>Currently waiting confirmation for: <%= resource.unconfirmed_email %></div>
    <% end %>

    <div class="profile-textarea">
      <%= f.label :'現在のパスワード', class:"profile-label" %>
      <!-- (we need your current password to confirm your changes) -->
      <%= f.password_field :current_password, autocomplete: "off", class:"profile-field password" %>
    </div>

    <div class="profile-textarea">
      <%= f.label :'新しいパスワード', class:"profile-label" %>
      <!-- (leave blank if you don't want to change it) -->
      <%= f.password_field :password, autocomplete: "off", class:"profile-field password" %>
    </div>

    <div class="profile-textarea">
      <%= f.label :'新しいパスワードの確認', class:"profile-label" %>
      <%= f.password_field :password_confirmation, autocomplete: "off", class:"profile-field con_password" %>
    </div>


    <div class="edit-profile-button">
      <div class = "link-to-button">
        <%= link_to "キャンセル", :back, class:"cancel-btn" %>
      </div>
      <%= f.submit "変更する", class:"change-btn" %>
    </div>
  <% end %>

  <h2>アカウントの削除</h2>

  <p>アカウントを削除する場合は，下記のボタンをクリックしてください．</p>
  <div class="delete-account">
    <%= button_to "アカウントを削除する", registration_path(resource_name), data: { confirm: "アカウントを削除します．本当によろしいですか？" }, method: :delete, class:"delete-account-btn" %>
  </div>

  </div>
  <!-- edit-profile ここまで -->
